<div class="p-4">
    <table class="min-w-full table-fixed border border-collapse font-medium">
        <!--fixed colum width  -->
        <colgroup>
            <col style="width:15%">
            <col style="width:28%">
            <col style="width:28%">
            <col style="width:28%">
            <col style="width:4%">
        </colgroup>
        <!-- column titles -->
        <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 text-left">City</th>
                @for (name of periodNames; track name) {
                <th class="px-4 py-2 text-left">
                    {{ name }}
                </th>
                }
                <th class="px-4 py-2"></th>
            </tr>
        </thead>

        <tbody>
            @for (city of cities$ | async; let i = $index; track city) {
            <tr class="group hover:bg-gray-100">
                <td class="border px-4 py-2 align-middle relative">
                    <div class="inline-block w-full pr-12 font-medium text-lg">
                        @if (editingId !== city.id) {
                        {{ city.name }}
                        } @else {
                        <input type="text" [(ngModel)]="editingName" (keydown.enter)="saveEdit(city.id)"
                            (blur)="saveEdit(city.id)"
                            class="w-full border-0 border-b-2 border-blue-500 focus:outline-none py-1" autofocus />
                        }
                    </div>

                    <!-- edit/check icon in city name collum-->
                    <div
                        class="absolute top-1/2 right-2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity">
                        @if (editingId !== city.id) {
                        <button (click)="startEdit(city.id, city.name)"
                            class="w-10 h-10 rounded-full flex items-center justify-center text-gray-600 hover:bg-gray-200 hover:text-gray-800"
                            aria-label="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                <path d="m15 5 4 4" />
                            </svg>
                        </button>
                        } @else {
                        <button (click)="saveEdit(city.id)"
                            class="w-10 h-10 rounded-full flex items-center justify-center text-green-600 hover:bg-green-200 hover:text-green-800"
                            aria-label="Confirm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M20 6 9 17l-5-5" />
                            </svg>
                        </button>
                        }
                    </div>
                </td>


                <!-- show 3 periods -->
                @for (period of city.periods.slice(0, 3); track period) {
                <td class="border  border-x-0  px-4 py-2">
                    <div class="flex items-center gap-2">
                        <div>
                            @if (loading$ | async) {
                            <!-- if loading is true -->
                            <div class="h-12 flex items-center justify-center text-blue-600 italic">
                                Loading…
                            </div>
                            } @else {
                            <!-- if loading is false show the data -->
                            <div class="font-semibold text-base h-6 flex items-center">
                                {{ period.temperature }}
                                @if (tempUnit$ | async; as unit) {
                                {{ unit === 'si' ? '°C' : '°F' }}
                                }
                            </div>
                            <div class="font-medium text-xs">{{ period.shortForecast }}</div>
                            }
                        </div>
                    </div>

                </td>
                }

                <!-- suggest button -->
                <td class="border border-x-0  px-4 py-2">
                    <div
                        class="flex items-center justify-center space-x-2 opacity-0 group-hover:opacity-100 transition-opacity">
                        <div
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full opacity-0 group-hover:opacity-100 transition-colors hover:bg-gray-200">
                            <button class="p-1 text-gray-600 hover:text-gray-800" [routerLink]="['/suggest', city.id]"
                                aria-label="Suggest">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="12" cy="5" r="1" />
                                    <circle cx="12" cy="19" r="1" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination control -->
<div class="flex justify-center mt-4">
    <div class="inline-flex items-center border rounded-full overflow-hidden">
        <!-- left arrow -->
        <button (click)="prevPage()" [disabled]="(currentPage$ | async) === 1" aria-label="Previous page"
            class="flex items-center justify-center w-10 h-10 rounded-full hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 18l-6-6 6-6" />
            </svg>
        </button>

        <div class="px-4 py-2 text-gray-700 whitespace-nowrap">
            Page {{ currentPage$ | async }} / {{ totalPages$ | async }}
        </div>

        <!-- right arrow -->
        <button (click)="nextPage()" [disabled]="(currentPage$ | async) === (totalPages$ | async)"
            aria-label="Next page"
            class="flex items-center justify-center w-10 h-10 rounded-full hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 18l6-6-6-6" />
            </svg>
        </button>

    </div>
</div>